---
title: New euro designs
date: 26 July 2026
description: ECB (European Central Bank) has revealed the new euro designs that will be up for the survey for the people to choose. I will in depth express my opinion on them :)
---

## Euro

Euro's have been in my opinion perhaps, recognised as one of the most awful banknote designs ever, of all the other possible banknotes. Their design definitely tries to showcase how diverse *Europe* is, althought representing only their office buildings and the Greek goddess [Europa](https://en.wikipedia.org/wiki/Europa_(consort_of_Zeus)), since her name is a possible derivative of the meaning of the word Europe, meaning broad or wide.

Euro's otherwise have no good representation of who EU really choose to be, but their design, especially on the 200 Euro banknote, remain designed fairly good:

![200 euro front](./img/200eurofront.jpg)
![200 euro back](./img/200euroback.jpg)

I like the new designs 

<img alt="new 20 euro banknote front side" src="https://www.ecb.europa.eu/euro/banknotes/future_banknotes/shared/img/banknote-design-proposal-d-200-front.jpg" width=300>
<img alt="new 20 euro banknote back side" src="https://www.ecb.europa.eu/euro/banknotes/future_banknotes/shared/img/banknote-design-proposal-d-200-back.jpg" height=300>

---
!! NOT FINISHED BLOG POST !!
---



