---
title: Welcome
date: 25 July 2026
description: Welcome, all new readers!
---

### Hello everyone!

This will be my blog, here i will post and show whatever *creative* or *inspiring* stuff I can find, where i also give my own opinion on.
It will be mostly about design stuff, maybe some technological, but can be anything :)


Have a good time and again, **welcome**!
